@font-face {
    font-family:MORPHEUS;
    src: url('/Ressources/MORPHEUS.TTF');
}

.label{
	-fx-font-family:'MORPHEUS';
}

.text{
	-fx-font-family:'MORPHEUS';
}

.background {
	-fx-font-family:'MORPHEUS';
    -fx-background-image:url(/Ressources/fond.gif);
    -fx-background-repeat: stretch;   
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.fondQuitter{
	-fx-font-family:'MORPHEUS';
	-fx-font-size:20;
	-fx-background-image:url("/Ressources/quitter.png");  
    -fx-background-size: stretch;
    -fx-background-position: center center;
}

.checkbox {
	-fx-font-family:'MORPHEUS';
	-fx-font-size:20;
	/*-fx-background-image:url("/Ressources/checkbox_fond.png");*/
	-fx-background-size: cover;
}

.checkbox .box{
	-fx-background-image:url("/Ressources/checkbox_box.png");
	-fx-background-size: cover;
}

.checkbox:selected .box{
	-fx-background-image:url("/Ressources/checkbox_selected.png");
	-fx-background-size: cover;
}

.checkbox:selected .mark{
	-fx-background-color:transparent;
}

.button {
	-fx-font-family:'MORPHEUS';
	-fx-font-size:20;
  	-fx-background-color: transparent;
    -fx-background-image:url("/Ressources/bouton_nonPresse.png");
    -fx-background-size: stretch;
    -fx-background-position: center center;    
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: transparent;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-image:url("/Ressources/bouton_presse.png");
  -fx-text-fill: #999999;
}

.button:disabled, .button:default:disabled {
      -fx-background-image:url("/Ressources/bouton_disable.png");

}

.button:default {
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.finDeTour:pressed, .finDeTour:default:hover:pressed{
	-fx-background-image:url("/Ressources/finDeTourPresse.png");
	-fx-text-fill: #999999;
}

.finDeTour{
	-fx-font-family:'MORPHEUS';
	-fx-font-size:20;
	-fx-background-image:url("/Ressources/finDeTour.png");
	-fx-text-fill: #ffffff;
}
